.about {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-column-gap: 2rem;
  padding: 5rem;

  /*  @media only screen and (max-width: 75em) {
    height: 40vh;
  } */

  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(248, 80, 58, 0.1) 50%
    ),
    url(../../assets/backgrounds/aboutme-bg.jpg);
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: 56.25em) {
    grid-template-columns: minmax(min-content, 1fr);
    font-size: 1.7rem;
    background-image: linear-gradient(
      45deg,
      rgba(248, 80, 58, 0.1) 0%,
      rgba(255, 255, 255, 0.9) 85%,
      rgba(248, 80, 58, 0.1) 50%
    );
  }
}
