#container {
  display: grid;
  /* height of the each row */
  grid-template-rows: min-content min-content repeat(2, min-content) min-content;
  grid-template-columns:
    [spaceleft-start] minmax(6rem, 1fr)
    [spaceleft-end center-start]
    repeat(8, [col-start] minmax(min-content, 16rem) [col-end])
    [center-end spaceright-start]
    minmax(6rem, 1fr)
    [spaceright-end];

  @media only screen and (max-width: 24em) {
    grid-template-rows: min-content min-content repeat(2, min-content) min-content;
    grid-template-columns:
      [spaceleft-start] 1rem
      [spaceleft-end center-start]
      repeat(5, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end spaceright-start]
      1rem
      [spaceright-end];
  }

  #work,
  #about {
    margin-bottom: 4rem;
  }

  #skills,
  #tech-stack {
    margin-bottom: 7rem;
  }

  #contact {
    margin: 6rem 0 10rem 0;
  }
}
